*~
.env*

!.vscode
!.editorconfig
!.gitignore

*.png
*.jpg
*.jpeg
*.gif
*.svg
*.csv

fstab*
wlan-pw.txt
wordanalyzer/output.csv

tmp/
*-db/
restored/
__pycache__/
node_modules/

finance-tools/EASYBANK*.csv
finance-tools/AT*.csv
finance-tools/expenses.txt
